/*Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Main Variables*/
:root {
    --background: #02001f;
    --accent: #dc143c;
    --text: var(--accent);
    --font: Changa One, Poppins;
    --stream: 1;
    --loadingBG: 1;
    --chat-msg: white;
}

/*Global font*/
* {
    font-family: var(--font)
}

/*Links*/
a {
    color: var(--text);
}

a:active {
	color: var(--text);
}

a:visited {
	color: var(--text);
}

a:hover {
	color: var(--text);
	text-decoration: none;
}

/*Fuck this shit*/
#aHolder, .endAHolder, #tlInfHold, .imageButton, #editorBtnM, #onetrust-consent-sdk, #newsHolder, .krSocial {
    visibility: hidden;
}

#onetrust-consent-sdk {
    display: none !important;
}

#streamContainer {
    visibility: visible;
    opacity: var(--stream);
    transform: translateX(60vw) translateY(85vh) !important;
}

::-webkit-scrollbar {
    display: none;
}

#clientExit {
    display: none !important;
}

#braveWarning {
    visibility: hidden;
}

#faceItIconM {
    display:none;
}

#voiceDisplay {
    display: none;
}

#accManagerBtn {
    display: none !important;
}

/*Loading background*/
#loadingBg {
    background-image:url(https://cdn.discordapp.com/attachments/778689541535957013/837250864267526194/4qoMkfx.gif);
    opacity: var(--loadingBG);
}

/*Menu tint*/
#instructionHolder {
    z-index: -1;
}

#instructionHolder::before {
    content: " ";
    position: absolute;
    background-color: var(--accent) !important;
    opacity: 0.25;
    width: 200%;
    height: 100%;
    right: -100%;
}

/*Section - Menu*/

/*Menu left*/
#menuItemContainer {
    position: fixed;
    top: calc(100% - 22em);
    bottom: 0px;
    font-size: 25px;
    justify-content: space-between;
}

#menuItemContainer::before {
    content: " ";
    position: absolute;
    background-color: var(--background);
    width: 175px;
    height: 600px;
    transform: skewX(4deg) skewY(18deg);
    box-shadow: 10px 9px var(--accent);
    left: calc(0% - 15%);
    z-index: -1;
}

.menuItem {
  align-items: flex-start;
  margin-left: 10px;
}

.menuItemTitle {
    color: var(--text) !important;
    padding-right: 30px;
}    

.menuItem, #menuBtnShop {
    background: transparent;
    transition: 0.35s;
    transform-origin: left;
}

.menuItem:hover, #menuBtnShop:hover {
    border: none;
    transform: scale(1.1);
}

.menuItemIcon {
    visibility: hidden;
}

#menuBtnChall {  /*Challenge button*/
    font-size: 25px !important;
}

.menuItem[onclick*="showWindow(1)"] {
    position: fixed;
    bottom: 500px;
    left: -100px;
    padding: 0;
    visibility: hidden;
    transform: scale(1);
    transition-duration: all 0.3s;
}

#menuBtnSettings::after {
    font-size:40px;
    content: "settings";
    color: var(--accent);
    font-family: 'Material Icons';
    visibility: visible;
    transition-duration: 0.4s;
}

#menuBtnSettings:hover::after {
    font-size: 45px;
    transition-duration: 0.4s;
}

#clientExit[onclick*="clientExitPopup()"] {
    display: none;
}


/*Main Logo*/
#gameNameHolder, #seasonLabel {
    visibility: hidden;
}


/*Menu right*/
#subLogoButtons {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    bottom: -2%;
    top: calc(100% - 15.5em);
    left: 97%;
    font-size: 35px !important;
    margin-top: 0px;
}

#subLogoButtons::before {
    content: " ";
    position: absolute;
    background-color: var(--background);
    width: 175px;
    height: 650px;
    bottom: -10%;
    box-shadow: -10px 9px var(--accent);
    transform: skewX(-4deg) skewY(-18deg);
}

/*
#subLogoButtons::after {
    content: url(https://i.imgur.com/oLPu9th.png);
    background-color: var(--accent);
    width: 75px;
    height: 75px;
    position: fixed;
    border-radius: 50%;
    left: 40%;
    top: -2%;
    cursor: pointer !important;
}
*/

.buttonP, .buttonR, .buttonO, .buttonPI, .buttonPI {
    background: none !important;
    box-shadow: none !important;
}

.button {
    text-align: right;
    color: var(--text);
}

.button:hover {
    background: none !important;
    box-shadow: none !important;
}

.button.small {
    font-size: 30px !important;
    text-shadow: none !important;
    transition: 0.3s;
}

.button.small:hover, #menuBtnHost:hover {
    transform: scale(1.1) !important;
    transform-origin: right;
}


/*Menu bottom*/
#hiddenClasses {
    display: flex !important;
    flex-direction:row;
    position:fixed;
    left:50%;
    bottom:-20px;
    transform: translate(-50%,-50%);
    margin-right: 10px;
}

#hiddenClasses::before {
    content: " ";
    background-color: var(--background);
    position: absolute;
    width: 75%;
    height: 174%;
    bottom: -25%;
    z-index: -1;
    left: -2%;
    transform: skew(-18deg) translateY(1px);
    box-shadow: -10px 9px var(--accent);
}
  
#hiddenClasses::after {
    content: " ";
    background-color: var(--accent);
    position: absolute;
    width: 50%;
    height: 175%;
    bottom: -25%;
    margin-left: 50%;
    z-index: -1;
    transform: skew(18deg);
    box-shadow: 10px 9px var(--background);
}
  

#menuClassPicker0[onclick="selectClass(0)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_0.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker0[onclick="selectClass(0)"]:hover {
    cursor:pointer;
}

#menuClassPicker1[onclick="selectClass(1)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_1.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker1[onclick="selectClass(1)"]:hover {
    cursor:pointer;
}

#menuClassPicker2[onclick="selectClass(2)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_2.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker2[onclick="selectClass(2)"]:hover {
    cursor:pointer;
}

#menuClassPicker3[onclick="selectClass(3)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_3.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker3[onclick="selectClass(3)"]:hover {
    cursor:pointer;
}

#menuClassPicker4[onclick="selectClass(4)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_4.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker4[onclick="selectClass(4)"]:hover {
    cursor:pointer;
}

#menuClassPicker5[onclick="selectClass(5)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_5.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker5[onclick="selectClass(5)"]:hover {
    cursor:pointer;
}

#menuClassPicker6[onclick="selectClass(6)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_6.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker6[onclick="selectClass(6)"]:hover {
    cursor:pointer;
}

#menuClassPicker7[onclick="selectClass(7)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_7.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker7[onclick="selectClass(7)"]:hover {
    cursor:pointer;
}

#menuClassPicker8[onclick="selectClass(8)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_8.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker8[onclick="selectClass(8)"]:hover {
    cursor:pointer;
}

#menuClassPicker9[onclick="selectClass(9)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_9.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker9[onclick="selectClass(9)"]:hover {
    cursor:pointer;
}

#menuClassPicker10[onclick="selectClass(10)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_10.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker10[onclick="selectClass(10)"]:hover {
    cursor:pointer;
}

#menuClassPicker11[onclick="selectClass(11)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_11.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker11[onclick="selectClass(11)"]:hover {
    cursor:pointer;
}

#menuClassPicker12[onclick="selectClass(12)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_12.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker12[onclick="selectClass(12)"]:hover {
    cursor:pointer;
}

#menuClassPicker13[onclick="selectClass(13)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_13.png?build=uLz7w);
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker13[onclick="selectClass(13)"]:hover {
    cursor:pointer;
}

#menuClassPicker14[onclick="selectClass(14)"] {
    display:block;
    width:60px;
    height:60px;
    content:url(https://assets.krunker.io/textures/classes/icon_14.png?build=uLz7w);    
    pointer-events:auto;
    image-rendering:pixelated;
    margin-right:10px;
}

#menuClassPicker14[onclick="selectClass(14)"]:hover {
    cursor:pointer;
}

/*Menu top*/
.headerBarLeft {
    display: flex;
    position: fixed;
    top: unset;
    left: 50vw;
    right: 50vw;
    background: none;
    justify-content: center;
}

.headerBarLeft::before {
    content: " ";
    position: absolute;
    background-color: var(--accent);
    width: 55%;
    height: 140%;
    margin-right: 45%;
    z-index: -2;
    transform: skew(18deg);
    box-shadow: -10px -11px var(--background);
}

.headerBarLeft::after {
    content: " ";
    position: absolute;
    background-color: var(--background);
    width: 50%;
    height: 141%;
    margin-left: 50%;
    transform: skew(-18deg);
    box-shadow: 10px -11px var(--accent);
    z-index: -1;
}

#gameNameHolder, #seasonLabel {
    visibility: hidden;
}

.headerBarLeft {
    font-size: 25px;
}

#menuMiniProfilePic {
    display: none;
}
  
#menuLvlHold {
    width: calc(100% - 250px);
}

#mLevelCont {
    display: none;
}

#signedInHeaderBar {
    transform: translateX(20px);
}

#signedOutHeaderBar {
    transform: translateX(20px);
}

#menuAccountUsername {
    color: var(--background);
    padding-right: 1.5em;
}

.krSocial {
    display: none;
}

.verticalSeparator {
    visibility: hidden;
}

#menuKRCount span {
    color: var(--accent) !important;
}

#menuKRCount {
    color: white;
}

#mailIcon {
    color: var(--accent) !important;
}

.progressBarInner {
    background-color: var(--accent);
    border-radius: 12px;
}

.progressBar {
    border-radius: 12px;
    background: linear-gradient(to top left, var(--accent), var(--background));
}

.discordSocial, .downloadClient, .redditSocial, #editorBtnM {
    display: none !important;
}
  
.headerBarRight {
    display: flex;
    position: fixed;
    top: calc(0% + 80px);
    left: 50vw;
    right: 50vw;
    background: none;
    justify-content: center;
    z-index: -1;
}

.headerBarRight::before  {
    content: " ";
    position: absolute;
    background-color: var(--background);
    width: 15%;
    height: 140%;
    transform: skew(18deg);
    box-shadow: -10px -11px var(--accent);
    margin-right: 10%;
    z-index: -1;
}
  
.headerBarRight::after {
    content: " ";
    background-color: var(--accent);
    position: absolute;
    background-color: var(--background);;
    width: 15%;
    height: 140%;
    bottom: -20%;
    transform: skew(-18deg);
    box-shadow: 10px -11px var(--accent);
    margin-left: 10%;
    z-index: -1;
}

#menuServerInfoContainer {
    align-items: center;
}

#menuRegionLabel {
    font-size: 25px;
    color: var(--accent);
}

#menuPingDisplay, #menuFPSDisplay {
    font-size: 25px;
}

#menuPingDisplay {
    transform: scale(1.5) translateY(-4px);
    padding-left: 10px;
}

#menuPingText {
    font-size: 17px;
    color: var(--text);
}

#menuFPS {
    color: var(--text) !important;
}

.button.buttonP.lgn {
    position: absolute;
    background: none !important;
    box-shadow: none !important;
    text-shadow: none;
    transform: scale(1.5) translateX(calc(0% - 3em)) translateY(5px) !important;
}

/*Spectate*/
#uiBase.onMenu #spectButton {
    bottom: unset;
    top: 17%;
}

#spectButton span[style="font-size:15px;color:rgba(255,255,255,0.6)"] {
    display: none;
}

#spectButton .switchsml {
    margin-right: 10px;
}

.sliderSml::before {
    content: "visibility_off";
    font-size: 32px;
    color: white;
    width: max-content;
    height: auto;
    background-color: transparent;
    text-align: center;
    transition-duration: 0.25s;
    font-family: 'Material Icons';
}

input:checked+.sliderSml::before {
    content: "visibility";
    transform: unset;
}

input:checked+.sliderSml {
    background-color: transparent !important;
}

.sliderSml {
    background-color: transparent;
}

/*Menu Character preview*/
#policeButton {
    display: none;
}

#customizeButton {
    box-shadow: none !important;
    opacity: 0;
    position: absolute;
    right: 215px;
    bottom: calc(50% - 250px);
    width: 250px;
    height: 320px;
}

#menuClassName, #menuClassSubtext {
    display: none;
}
  
#menuClassContainer {
    right: -240px;
    top: -77%;
}

#menuClassContainer::before {
    content: " ";
    position: absolute;
    background-color: var(--background);
    margin-right: calc(20% - 110px);;
    width: 260px;
    height: 500px;
    transform: skew(4deg, 10deg);
    box-shadow: -10px 10px var(--accent);
    z-index: -1;
}

#menuClassNameTag {
    opacity: 0;
}

#bubbleContainer {
    display: none !important;
}

/*Menu chat*/
#uiBase.onMenu #chatHolder {
    left: 0px;
    right: unset;
    top: 20px;
    bottom: unset !important;
}

#chatList {
    background-color: transparent;
}

#uiBase.onMenu #chatList {
    text-align: left;
}

.chatTextOutline {
    text-shadow: none;
}

.chatItem {
    background-color: var(--background) !important;
    color: var(--text);
    font-size: 20px;
    border-radius: 0px;
    padding: 10px 16px;
    margin-left: 10;
    max-width: 280px;
    box-shadow: 6px 6px var(--accent);
    transform: skew(-15deg);
}

.chatMsg {
    transform: skew(15deg) !important;
    color: var(--chat-msg);
}

.chatMsg span[style*="#fff"], .chatMsg span[style*="#9eeb56"], .chatMsg[style="color:#fc03ec"]  {
    color: var(--text) !important;
}

#chatInputHolder {
    background: var(--background);
    border: none;
    transform: skew(-15deg);
    box-shadow: 6px 6px var(--accent);
    margin-left: 10px;
}

#chatInput::placeholder {
    color: var(--text);
}

#chatSwitch {
    color: var(--accent);
}

#chatInput {
    color: var(--chat-msg);
    background-color: var(--background);
    border-bottom: 3px solid var(--accent);
    border-radius: 0px;
    font-size: 20px;
}

/*Menu map and mod holder*/
#mapInfoHolder {
    align-items: center;
    right: 55vw;
    left: 55vw;
    transform: translateY(-90px);
    z-index: 1;
}

#mapInfoHolder::before {
    content: " ";
    position: absolute;
    background-color: var(--accent);
    width: 70%;
    margin-right: 30%;
    height: 210px;
    transform: skew(-18deg);
    box-shadow: -10px 9px var(--background);
    z-index: -2;    
}

#mapInfoHolder::after {
    content: " ";
    position: absolute;
    background-color: var(--accent);
    width: 70%;
    margin-left: 30%;
    height: 210px;
    transform: skew(18deg);
    box-shadow: 10px 9px var(--background);
    z-index: -1;
}

.verticalSeparatorInline {
    opacity: 0;
}

#termsInfo {
    background: none;
    display: flex;
    align-items: flex-end;
}

.terms {
    font-size: 25px !important;
    color: var(--background);
    margin-left: 10px;
    margin-right: 10px;
}

#mapInfo {
    margin-bottom: -20px;
    margin-left: 20px;
}

#modVote {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: -2px;
    padding-top: 10px;
    color: var(--background);
}

.voteHint.vHR {
    display: none;
}

#modVoteD, #modVoteU {
    font-size: 30px;
    color: var(--background);
}

/*Settings*/
#windowHolder {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

#menuWindow {
    max-height: 100% !important;
    width: calc(100% - 700px) !important;
    border-radius: 0px !important;
    top: 10px !important;
    bottom: 10px;
    left: 15%;
    right: 15%;
    transform: unset !important;
}

#menuWindow.dark {
    background: none;
    box-shadow: none;
}

#menuWindow.dark::before {
    content: " ";
    position: fixed;
    left: 13%;
    background-color: var(--background);
    width: calc(100% - 600px);
    height: 98%;
    z-index: -2;
    transform: skew(-3deg);
    box-shadow: -20px 20px var(--accent);
    border-right: 10px dashed var(--accent);
    bottom: 15px;
}

.settingsHeader {
    background-color: var(--accent);
    transform: skew(-3deg);
    padding-right: 15px;
}

#menuWindow::-webkit-scrollbar {
    display: none !important;
}

.settingTab {
    background-color: var(--background);
    color: var(--text) !important;
    font-size: 25px !important;
}

.dark .tabANew, .dark .tabANew:hover, .settingTab:hover {
    border-bottom: 5px solid var(--accent) !important;
}

.settingsBtn {
    background-color: var(--background);
    font-size: 20px;
    border-radius: 0px !important;
    color: var(--text) !important;
}

.inputGrey2 {
    background-color: var(--background);
    border-radius: 0px !important;
    color: var(--text);
}

#settingsPreset option, .settName option {
    color: var(--text) !important;
}

#settSearch {
    border-radius: 0px !important;
    background: transparent;
    border-bottom: 3px solid var(--background);
    font-size: 20px;
    color: var(--background);
}

.settingsBtn[onclick*="uploadSettings()"], .settingsBtn[onclick*="fetchSettings()"] {
    background-color: transparent;
}

#settSearch::placeholder {
    color: var(--background);
}

#menuWindow.dark div {
    color: var(--text);
}

.plusOrMinus {
    color: var(--text) !important;
}

.setBodH, .setHed {
    background: none;
    border: none;
    font-size: 40px;
}

.setHed:hover {
    background: none;
}

.settName, .settNameSmall {
    color: var(--chat-msg) !important;
    border-bottom: 0.1px solid var(--accent) !important;
    font-size: 25px
}

#requiresRestart, #requiresRestart span {
    color: var(--text) !important;
}

.sliderM {
    background-color: var(--accent);
    border-radius: 0px;
    height: 4px;
}

.sliderM::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent);
}

.sliderVal {
    border-radius: 0px;
    border: none !important;
    background-color: transparent;
    border-bottom: 2px solid var(--accent) !important;
    color: var(--text);
    margin-top: 0px;
}

.slider:before {
    position: absolute;
    content: "OFF";
    line-height: 22px;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
    background-color: transparent !important;
    font-size: 23px;
}

input:checked+.slider:before {
    transform: unset;
    content: "ON";
    font-size: 30px;
    color: var(--text);
    overflow: hidden;
}

input:checked+.slider, .slider {
    background-color: transparent;
}

input[type=color] {
    border-radius: 0px;
    width: 30px;
    height: 30px;
    border: 3px solid var(--accent);
    transform: translate(-15px, -3px) skew(-10deg);
}

.settName span {
    color: var(--accent) !important;
}

::selection {
    color: var(--background) !important;
    background: var(--accent) !important;
    outline: none !important;
}
  
.settName input[type=text], input[type=url], input[type=input] {
    background-color: transparent;
    border-radius: 0px !important;
    color: var(--text) !important;
    transform: skew(-3deg);
    border-bottom: 2px solid var(--accent);
    text-align: center;
}

.settName input[type=text]::placeholder, input[type=url]::placeholder, input[type=input]::placeholder {
    color: var(--text);
}

/*Keybinds*/
.setToggle {
    background-color: transparent;
    color: var(--text);
}

.setToggle option {
    background-color: var(--background);
}

/*Profile*/
.bigMenTabs {
    background-color: var(--accent);
    transform: skew(-3deg);
    border-radius: 0px;
}

.bigMenTabA, .bigMenTab:hover {
    color: var(--background) !important;
    border-bottom: 5px solid var(--background)
}

.bigMenTab {
    color: var(--background) !important;
    font-size: 30px;
}

.setBodH[style="display:inline-block;padding-top:10px;vertical-align:top;width:680px;margin-left:15px;margin-top:0px;"] {
    width: calc(100% - 270px) !important;
}

.floatR {
    color: var(--text);
}

#profilePicM {
    background-color: transparent !important;
    border-radius: 0px;
}

.xpBar {
    background-color: transparent;
    transform: skew(-4deg);
    border: 5px solid var(--accent);
}

.xpBarB {
    background-color: var(--accent);
}

.xpBarV {
    color: var(--chat-msg);
    font-size: 1.1em;
}

div[style="height:15px;margin-top:30px;border-top:4px solid rgba(255, 255, 255, 0.8);"] {
    border-top: 4px solid var(--accent) !important;
}

.setHedS {
    background: none;
    border: none;
    font-size: 30px;
}

div[style="font-size:21px;color:rgba(255,255,255,0.4);margin-top:5px;"] {
    color: var(--text) !important;
}

div[style="font-size:21px;color:rgba(255,255,255,0.4);margin-top:5px"] {
    color: var(--chat-msg) !important;
}

.smlInput {
    background: none;
    border-radius: 0px;
    border-bottom: 3px solid var(--accent);
    color: var(--text);
    text-align: left;
}

.smlInput::placeholder {
    color: var(--text);
}

.subPassChg {
    background-color: var(--accent);
    color: var(--background) !important;
    transform: skew(-4deg);
    border-radius: 0px;
}

.subPassChg:hover {
    background-color: var(--accent);
    color: var(--background) !important;
    transform: skew(-4deg);
    border-radius: 0px;
}

#newPRes {
    color: var(--chat-msg) !important;
}

.lnkTw {
    background-color: var(--accent);
    color: var(--background) !important;
    border-radius: 0px;
    transform: skew(-3deg);
}

.lnkTw:hover {
    background-color: var(--accent);
    color: var(--background) !important;
    border-radius: 0px;
    transform: skew(-3deg);
}

/*DC Fix*/
#endUI {
    z-index: -1;
}

/*Host menu*/
.serverHostOpH {
    font-size: 50px;
    color: var(--background) !important;
    background-color: var(--accent);
    padding: 10px;
    transform: skew(-4deg);
}

.serverHostOp {
    border-radius: 0px;
    border: none;
    transform: skew(-3deg);
    box-shadow: -10px 10px var(--accent);
    margin-left: 5%;
    margin-top: 15%;
    width: 400px;
    height: 400px;
    background-size: auto 400px;
    line-height: 400px;
}

.hostHeader {
    background-color: var(--accent);
    color: var(--background) !important;
    border: none;
    font-size: 40px;
    transform: skew(-3deg);
}

#rawMapData {
    background: none;
    border-bottom: 3px solid var(--accent);
    border-radius: 0px;
    color: var(--text);
    transform: skew(-4deg);
}

#rawMapData::placeholder {
    color: var(--text);
}

.hostMap {
    box-shadow: -6px 7px var(--accent);
    transform: skew(-4deg);
    border: none;
    border-radius: 0px;
    margin: 15px;
}

.hostMapName, .hostMapYear, .hostMapVersion, .hostMapBy {
    font-size: 16px;
    color: var(--text) !important;
    opacity: 1;
}

.hostToggle, .hostToggle:hover {
    background-color: var(--accent);
    color: var(--background) !important;
    border-radius: 0px;
    transform: skew(-4deg);
}

.hostOpt {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    padding: 10px;
    transform: skew(-4deg);
    text-align: center;
    border: 3px solid var(--accent);
    box-shadow: -7px 7px var(--accent);
    margin: 10px;
}

.optCheck:hover {
    background-color: var(--accent) !important;
    opacity: 0.2;
}

.optName {
    font-size: 20px;
    color: var(--text);
    text-shadow: none;
}

input:checked+.optCheck {
    background-color: var(--accent);
    opacity: 0.2;
}

.optCheck {
    background: none;
}

.optImg {
    display: none;
}

.advancedToggle {
    background-color: var(--accent);
    border-radius: 0px;
    color: var(--background) !important;
    font-size: 20px;
    transform: skew(-4deg);
}

#presetName {
    font-size: 20px;
    background-color: transparent !important;
    text-align: center;
    color: var(--text);
    border-bottom: 3px solid var(--accent) !important;
    border-radius: 0px !important;
}

#presetName::placeholder {
    color: var(--text);
}

#presetSelect {
    font-size: 15px;
    border-radius: 0px !important;
    background-color: var(--accent) !important;
    color: var(--background);
    transform: skew(-4deg);
}

#presetSelect option {
    color: var(--background);
}

#passCode {
    border-radius: 0px !important;
    text-align: center;
    background-color: transparent !important;
    color: var(--text);
    font-size: 20px;
    border-bottom: 3px solid var(--accent) !important;
}

#passCode::placeholder {
    color: var(--text);
}

.settNameSmall span[style="float:right;margin-right:10px;color:rgba(255,255,255,0.5)"] {
    color: var(--text) !important;
    margin-top: 5px;
}

.settNameSmall span[style="float:right;margin-right:10px;color:rgba(255,255,255,0.5)"] b {
    color: white !important;
}

.hostPresetBtn {
    border-radius: 0px;
    background-color: var(--accent);
    color: var(--background) !important;
    font-size: 20px;
    transform: skew(-4deg);
}

#hostActionH {
    border-top: 3px solid var(--accent);
}

#hostActionH div[style="color:rgba(255,255,255,0.3);font-size:22px"] {
    color: var(--text) !important;
}

#hCustCost {
    color: var(--text) !important;
}
#hostGameMsg {
    color: var(--text) !important;
}

.hostCBtn {
    background-color: var(--accent);
    border: none;
    border-radius: 0px;
    color: var(--background) !important;
    transform: skew(-4deg);
}

.hostCBtn:hover {
    transform: skew(-4deg);
}

.advancedToggle[style="background-color: rgb(33, 150, 243);"] {
    background-color: var(--accent) !important;
}

#weaponSelect, #classSelect {
    background-color: var(--accent) !important;
    color: var(--background);
    transform: skew(-4deg);
    font-size: 15px;
}

#weaponSelect option, #classSelect option {
    color: var(--background);
}

#customSnameTeam1, #customSnameTeam2 {
    font-size: 20px;
    background-color: transparent !important;
    color: var(--text);
    text-align: center;
    border-bottom: 3px solid var(--accent) !important;
    border-radius: 0px !important;
    margin-top: -5px !important;
}

#customW0name, #customW1name, #customW2name, #customW3name, #customW4name, #customW5name, #customW6name, #customW7name, #customW8name, #customW9name, #customW10name, #customW11name, #customW12name, #customW13name, #customW14name, #customW15name, #customW16name, #customW17name, #customW18name, #customW19name, #customW20name {
    font-size: 15px;
    text-align: center;
    border-radius: 0px !important;
    background-color: transparent !important;
    color: var(--text);
    border-bottom: 3px solid var(--accent) !important;
    margin-top: 0px !important;
}

#customW0assetIcon, #customW0pj_asset, #customW1assetIcon, #customW1pj_asset, #customW2assetIcon, #customW2pj_asset, #customW3assetIcon, #customW3pj_asset, #customW4assetIcon, #customW4pj_asset, #customW5assetIcon, #customW5pj_asset, #customW6assetIcon, #customW6pj_asset, #customW7assetIcon, #customW7pj_asset, #customW8assetIcon, #customW8pj_asset, #customW9assetIcon, #customW9pj_asset, #customW10assetIcon, #customW10pj_asset, #customW11assetIcon, #customW11pj_asset, #customW12assetIcon, #customW12pj_asset, #customW13assetIcon, #customW13pj_asset, #customW14assetIcon, #customW14pj_asset, #customW15assetIcon, #customW15pj_asset, #customW16assetIcon, #customW16pj_asset, #customW17assetIcon, #customW17pj_asset, #customW18assetIcon, #customW18pj_asset, #customW19assetIcon, #customW19pj_asset, #customW20assetIcon, #customW20pj_asset {
    border-radius: 0px !important;
    background-color: transparent !important;
    border-bottom: 3px solid var(--accent) !important;
    text-align: center;
    font-size: 15px;
    margin-top: 0px !important;
    color: var(--text);
}
